#menu-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  height: 70%;
  overflow: auto;
}

#menu-header h4 {
  color: var(--dark-sage);
  background-color: rgba(241, 237, 226, 0.2);
  border-radius: 10px;
  text-align: center;
  font-size: large;
  font-style: italic;
  padding: 10px 0px 10px 0px;
}

#menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 0px 20px 30px 20px;
  border-bottom: 1px solid #747474;
}

#menu-items:last-child {
  border: none;
}

#menu-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 10px;
}

#menu-name {
  font-style: normal;
  font-size: medium;
  font-weight: 800;
}

#menu-price {
  font-size: 0.8rem;
}

#menu-description {
  display: flex;
  justify-content: start;
  font-size: 0.8rem;
  font-style: italic;
  padding-bottom: 30px;
}
