@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif display-<uniquifier > {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "width" 100;
}

* {
  margin: 0;
  padding: 0;
  --white: #f1ede2;
  --whiteAlpha: rgba(241, 237, 226, 0.2);
  --dark-sage: #1c1d18;
  --sage: #797d62;
  --sageAlpha: rgba(121, 125, 98, 0.9);
  --sage-hover: hsl(69, 12%, 46%);
  --clay: #e2c5b5;
  --custom-opacity: 0.9;
}

#hero {
  background-image: url("./assets/platter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#name {
  display: flex;
  align-items: center;
  font-family: "Noto Serif Display", serif;
  font-weight: 300;
  font-size: 3rem;
  color: var(--dark-sage);
}

#logo {
  width: 100px;
  height: 100px;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  align-items: center;
  background-color: var(--sageAlpha);
  border-bottom: 20px solid var(--clay);
}

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  height: 100px;
}

#nav > button {
  flex: 1;
  color: var(--dark-sage);
  background-color: transparent;
  width: auto;
  height: 100%;
  border: none;
  font-family: "Noto Serif Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  transition: ease-in-out 200ms;
}

#nav > button:hover {
  color: var(--clay);
  cursor: pointer;
  font-size: 1.25rem;
  border-bottom: 5px solid var(--clay);
}

#content {
  background-color: rgba(186, 186, 186, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

#description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif Display", serif;
  width: 80%;
  height: 70vh;
}

#description > h1 {
  font-size: 3rem;
  font-weight: 300;
}
