@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif display-<uniquifier > {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "width" 100;
}

:root {
  --white: #f1ede2;
  --whiteAlpha: rgba(241, 237, 226, 0.2);
  --dark-sage: #1c1d18;
  --sage: #797d62;
  --sageAlpha: rgba(121, 125, 98, 0.9);
  --sage-hover: hsl(69, 12%, 46%);
  --clay: #e2c5b5;
  --clayAlpha: rgba(226, 197, 181, 0.5);
}

body {
  background-image: url("./assets/platter.jpg");
  backdrop-filter: blur(5px);
  /* https://pixabay.com/photos/platter-food-starters-meal-feast-2009590/ */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
}
#hero {
  height: 100vh;
}

#name {
  display: flex;
  align-items: center;
  font-family: "Noto Serif Display", serif;
  font-weight: 300;
  font-size: 3rem;
  color: var(--dark-sage);
}

#logo {
  width: 100px;
  height: 100px;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  align-items: center;
  background-color: var(--sageAlpha);
  border-bottom: 20px solid var(--clayAlpha);
}

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

#nav > button {
  flex: 1;
  color: var(--dark-sage);
  background-color: transparent;
  width: auto;
  height: 100%;
  border: none;
  font-family: "Noto Serif Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  transition: ease-in-out 200ms;
}

#nav > button:hover {
  color: var(--clay);
  cursor: pointer;
  font-size: 1.25rem;
  border-bottom: 5px solid var(--clay);
}

#content {
  display: flex;
  justify-content: center;
  font-family: "Noto Serif Display", serif;
  color: var(--dark-sage);
  background-color: rgba(186, 186, 186, 0.9);
  padding: 30px;
}

#home-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 100px;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

#image-container {
  grid-area: 1 / 1/ 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-id {
  height: 500px;
  border-radius: 30px;
  opacity: 0.78;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 15px rgba(28, 29, 24, 0.4);
}

#description {
  grid-area: 1 / 2 / 1 / 3;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Noto Serif Display", serif;
  font-size: 1rem;
  font-weight: 300;
  height: 50vh;
  overflow: auto;
}

#description > h1 {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 20px;
}

#description > h2 {
  font-size: 1.75rem;
  font-weight: 300;
  padding-bottom: 20px;
}

p {
  padding-bottom: 20px;
}

a.reserve {
  color: var(--dark-sage);
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
}

a.reserve:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--dark-sage);
}
